/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* белый цвет текста  #FFFFFF*/
/* цвет фона шапки */
/* черный цвет лого #000000 */
/* цвет фона боди #FFFFFF */
/* цвет фона 1-й секции и футера #2F303A */
/* цвет фона последней секции F5F4FA */

:root {
  --description-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: #212121;
  font-family: Roboto, Verdana, sans-serif;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -------------HEADER--------------- */
/* ---------logo-------- */
.logo-first {
  color: #2196f3;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-second {
  color: #000000;
}

/* ---------Site nav-------- */
.site-nav .link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.email,
.tel {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

.tel:hover,
.tel:focus {
  color: var(--accent-color);
}

/* ---------Main-------- */
.hero {
  background-color: #2f303a;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}
.feature .feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature .description {
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------Section Team-------- */
.team {
  background-color: #f5f4fa;
}

.team .card {
  background-color: var(--primary-white-color);
}

.team .team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 19);
  text-align: center;
  letter-spacing: 0.03em;
}

.team .description {
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------Footer-------- */
footer {
  background-color: #2f303a;
}

footer .logo-second {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-email,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71x;
  letter-spacing: 0.03em;
}

/* -----------------------Portfolio---------------------- */
.button-active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-other {
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.works .card {
  background-color: var(--primary-white-color);
}

.works .card a {
  text-decoration: none;
}

.works .works-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .description {
  color: var(--description-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
